html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    font-family: arial;
    padding: 0;
    margin: 0;

    color: #ea316e;
    background-color: #ffffff;
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    height: 100%;
}

a {
    text-decoration: none;
    color: #ea316e;
}
a:link, a:visited, a:active {
    color: #ea316e;
}
a:hover {
	color: #25aae1;
}

.love-desktop-frame {
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: hidden;
}

.love-desktop-frame:-webkit-full-screen {
    /* Auto width and height in Safari/Chrome fullscreen. */
    width: auto;
    height: auto;
}

#canvas {
    outline: none;
    vertical-align: bottom;
    border: 0;
    position: fixed;
    background-color: #f8f8f8;
    width: 100%;
    height: 100%;
}

#message-container {
	text-align:center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 90%;
}

#progress-border {
  	border: 1px solid #ea316e;
}
  
#progress-bar {
	background-color: #ea316e;
  	width: 0%;
   	height: 16px;
}

#message-container > div {
  	background-color:transparent;
}